*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
nav ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
body{
    margin: 0;
    font-family: 'Poppins','Roboto',sans-serif;
    background-color: #1E1E1E;
}
.background-gradient{
    size: auto;
    background-image: radial-gradient(circle at bottom center, #7ef2ff63 20%, #1E1E1E 40%);
}
@media screen and (width>1024px) {
    .background-gradient{
        background-image: radial-gradient(circle at right, #7ef2ff63 5%, #1E1E1E 25%);
    }
       
}
.title{
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}
.title-xl{
    font-size: 3rem;
    font-family: 'Poppins';
    background-image: linear-gradient(to right,#6131F8, #C140A0,#FC8866 );
    background-clip: text;
    color: transparent;
}
.title-name{
    font-family: 'Roboto';
    font-size: 1.125rem;
    color: #FFF;
}
.text{
    font-weight: 400;
}
.text-opinion{
    font-family: 'Roboto';
    font-size: 1.125rem;
    color: rgb(255 255 255 /75%);
    line-height: 1.5rem;
}
.text-caption{ 
    font-family: 'Roboto';
    font-size: 1rem;
    color: rgb(255 255 255 /50%);
    line-height: 1.5rem;
    margin-top: 0%;
}
.text-header{
    font-family:'Poppins';
    font-size: 1rem;
    line-height: normal;
    color: rgb(255 255 255/ 0.5);
}
.button{
    display: flex;
    width: 7.5rem;
    padding: 0rem 1rem;
    align-items: center;
    justify-content: center;
    font-family:'Roboto';
    line-height: 1.5rem;
    font-size: 1rem;
    color: #FFF;
    background-color: transparent;
    border: none;
    border-radius: 0.5rem;
}
.button-primary{
    background-color:#6A32EF;
}
.button-secondary{
    border: 1px solid #6131F8 ;
}
.header{
    padding-top: 2.8125rem;
    padding-inline: 1rem;
    margin-bottom: 2.5rem;
}
.header-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.top-bar{
    display: flex;
    gap: 1.5rem;
}
.header-info{
    display: flex;
    box-sizing: auto;
    flex-direction: column;
}
@media screen and (width>1024px) {
    .title-xl{
        font-size: 3.625rem;
    }
    .button{
        width: 10rem;
        padding: 0rem 2rem;
        font-size: 1.5rem;
    }
    .header{
        padding-top: 6.25rem;
        padding-inline: 12.125rem;
    }
    .header-section{
        flex-direction: row-reverse;
        flex-wrap:nowrap;
        text-align: left;
        align-items: center;
        gap: 9.0625rem;
    }
}
.testimonials{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-inline: 1rem;
    padding-bottom: 2.8125rem;
    gap: 2rem;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 21.375rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(33 33 33/ 75%);
}
.valoration{
    display: flex;
    align-items: center;
    padding: 0.5rem;

}
.photo{
    border-radius: 100%;}


 @media screen and (width>1024px){
        .testimonials{
            padding-inline: 12.125rem;
            gap: 5rem;
            padding-bottom: 6.25rem;
        }
        .card-position1{
            top: 2rem;
        }
        .card-position2{
            top:2.9375rem
        }
}